fastapi==0.109.0
uvicorn==0.27.0
sqlalchemy>=2.0.31
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
gunicorn==21.2.0
thefuzz==0.22.1
python-levenshtein==0.25.0
google.generativeai==0.8.6
groq==0.1.1